.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2em 1.5em;
    display: grid;
    grid-auto-columns: 100%;
    gap: 1em;
    justify-items: center;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto-auxiliar {
    font-size: 16px;
    font-weight: 500;
}

.banner__input {
    width: 100%;
    color: var(--branco);
    border-radius: 24px;
    border: 1px solid #FFFFFF;
    padding: 1em;
    background-color: transparent;
}
.banner__input::placeholder{
    font-family: var(--fonte-principal);
    text-align: center;
    color: var(--branco);
    font-size: 14px;
    font-weight: 400;
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 2em;
    
}
@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: 36px;
    }
    .banner__texto-auxiliar{
        padding-bottom: 1em;
    }
    .banner__input{
        width: 50%;
    }
    .banner {
      padding: 5.2em 1.5em;
    }
    .banner__input::placeholder{
        background-position: 8em; 
    }
}