.contato {
    background-color: var(--branco);
    padding: 1.5em;
}
.contato__titulo{
font-size: 18px;
font-weight: 500;
margin-bottom: 0.5em;
color: var(--azul);
}
.contato__texto-auxiliar {
 font-size: 16px;
 font-weight: 300;
 margin-bottom: 1em;
}
.contato__input {
    width: 90%;
    color: #002F52;
    border-radius: 24px;
    border: 1px solid #002F52;
    padding: 1em;
    background-color: transparent;
}
.contato__input::placeholder{
    font-family: var(--fonte-principal);
    text-align: center;
    color: #002F52;
    font-size: 14px;
    font-weight: 400;
    background: url("../img/Email.svg") no-repeat;
    background-position: 2em;
}
@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato__titulo{
        font-size: 24px;
    }
    .contato__texto{
        margin-right: 1em;
        width: 30%;
    }
    .contato__input{
        width: 30%;
        margin-right: 9em;
        height: fit-content;
    }
}
